<% provide(:title, "Bienvenido") %>

<h1>Control de Luz</h1>
<p>Presiona el botón para comenzar</p>
<%= button_to "App", {action: "verify"}, data: { disable_with: 'Espere, por favor...' }, class: "btn btn-primary btn-lg" %>
