<% provide(:title, "On") %>
<h1>Control de Luz</h1>
<p>El LED está Encendido</p>

<%= button_to "Apagar", off_path, method: "get", data: { disable_with: 'Apagando...' }, class: "btn btn-lg btn-primary" %>
